html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #140049;
}

.caption>h1 {
  font-family: 'Allura';
}

.font-mono {
  font-family: 'Ubuntu Mono' !important;
  @apply tracking-widest;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-primary:hover {
  background-color: #131313;
}

.focus-line::after {
  content: '';
  @apply block;
  @apply mt-1;
  @apply h-1;
  @apply w-0;
  @apply border-t;
  @apply border-white;
  transition: 250ms ease-in-out width;
}

.focus-line:hover::after {
  width: calc(100%);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #131313;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #131313;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #535252;
}